<div id="dinner-spinner">
  <!-- TODO ask on S/O why I have to bind the items once before anything shows up -->
  <h2 style="display:none;">Dummy</h2>
  <app-spinner style="display:none;" name="dummy" [items]=selectedMains styleClass="bgWarm"></app-spinner>
  <h2>Main</h2>
  <app-spinner #main_spinner name="main" [items]=selectedMains styleClass="bgWarm"></app-spinner>
  <h2>Starch</h2>
  <app-spinner #starch_spinner name="starch" [items]=selectedStarches styleClass="bgNeutral"></app-spinner>
  <h2>Vegetable</h2>
  <app-spinner #veg_spinner name="vegetable" [items]=vegetables styleClass="bgCool"></app-spinner>
  <div>&nbsp;</div>
  <button class="button" (click)="randomize()">Random!</button>
</div>
<form>
  <h3>Mains</h3>
  <fieldset>
    <input type="checkbox" name="beef" #beef checked (click)="onMainChanged()"><label>beef</label>
    <input type="checkbox" name="chicken" #chicken checked (click)="onMainChanged()"><label>chicken</label>
    <input type="checkbox" name="pork" #pork checked (click)="onMainChanged()"><label>pork</label>
    <input type="checkbox" name="fish" #fish checked (click)="onMainChanged()"><label>fish</label>
    <input type="checkbox" name="other" #other checked (click)="onMainChanged()"><label>other</label>
  </fieldset>
  <h3>Starches</h3>
  <fieldset>
    <input type="checkbox" name="potato" #potato checked (click)="onStarchChanged()"><label>potato</label>
    <input type="checkbox" name="pantry" #pantry checked (click)="onStarchChanged()"><label>pantry</label>
    <input type="checkbox" name="bread" #bread checked (click)="onStarchChanged()"><label>bread</label>
  </fieldset>
</form>